array-oriented-programming/_build
array-oriented-programming/.ipynb_checkpoints
array-oriented-programming/quadratic_formula_c.c
array-oriented-programming/quadratic_formula_c.so
array-oriented-programming/quadratic_formula_pybind11.cpp
array-oriented-programming/quadratic_formula_pybind11.so
array-oriented-programming/quadratic_formula_pybind11_noloop.cpp
array-oriented-programming/quadratic_formula_pybind11_noloop.so
array-oriented-programming/mydask.png

notebooks/.ipynb_checkpoints
notebooks/mydask.png
notebooks/quadratic_formula_c.c
notebooks/quadratic_formula_c.so
notebooks/quadratic_formula_pybind11.cpp
notebooks/quadratic_formula_pybind11.so
notebooks/quadratic_formula_pybind11_noloop.cpp
notebooks/quadratic_formula_pybind11_noloop.so

solutions-NO-PEEKING/.ipynb_checkpoints
